app/src/main/java/timecode/model/responses/xsd/response_auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="response">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="state" type="xs:string" minOccurs="1" />
            <xs:element name="api_key" type="xs:string" minOccurs="0" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
